<div class="row mt-4">
  <div class="col-md-3">
    <input
      type="text"
      class="form-control m-1"
      placeholder="name"
      [(ngModel)]="myhero.name"
    />
  </div>
  <div class="col-md-3">
    <input
      type="text"
      class="form-control m-1"
      placeholder="power"
      [(ngModel)]="myhero.power"
    />
  </div>
  <div class="col-md-3">
    <input
      type="text"
      class="form-control m-1"
      placeholder="image Url"
      [(ngModel)]="myhero.image"
    />
  </div>
  <div class="col-md-3">
    <button (click)="addhero()" class="btn form-control m-1">CREATE</button>
  </div>
</div>
